@forward "banner-section";

body {
  background-color: hsl(0, 0%, 2%);
  min-height: 100vh;
  padding-bottom: 500px;
  a {
    color: #fff;
    font-family: "Lobster", cursive;
    font-size: 2rem;
  }
  div.YouTube-banner-dimensions {
    // outline: 1px rgb(255, 0, 0) solid; /////
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
  }

  #alexImg {
    display: none;
  }

  .banner-section {
    padding-left: 100px;
  }
}
